.tankField {
    background-color: rgb(240, 240, 240);
    border: solid 5px rgb(194, 194, 194);
    width: 100%;
    padding: 2%;
    display: inline-block;
}

.schemeStep h4, .schemeStep p {
    text-align: center;
}

.tankShell, .tankField button.phaseAction {
    display: block;
    margin: 0 auto;
}

.tankField button.phaseAction {
    margin-top: 5%;
    width: 50%;
}

.tankShell {
    border-radius: 5%;
    height: 125px;
    width: 50%;
    padding: 10% 15% 10% 15%;
}

.contentContainer {
    background-color: white;
    border: solid #a3a6a8 1px;
    height: 100%;
    width: 100%;
    position: relative;
}

.fluid {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rosybrown;
    opacity: 0.5;
}

.ironTank {
    background-color: #d4d7d9;
}

.bronzeTank {
    background-color: #CD7F32;
}

.steelTank {
    background-color: #564657;
}

.copperTank {
    background-color: #B87333;
}

.goldTank {
    background-color: #f8d200;
}